.card {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.973);
  text-align: center;
  position: relative;
  margin: 0.5rem;
  height: 250px;
  padding: 2px 0px 4px 0px;
  border: none;
}
.card-image {
  background-color: rgba(247, 244, 244, 0.514);
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}
.card > .card-image > img {
  height: 100px;
  overflow: hidden;
  object-fit: contain;
}
.card-price {
  color: black;
  font-size: 16px;
  font-weight: bold;
  float: left;
}

.card-rating {
  padding-left: 7px;
  color: rgb(0, 110, 0);
  font-size: 14px;
  font-weight: 600;
  position: relative;
  float: right;
}

.card-title {
  font-weight: 600;
  font-size: 17px;
  color: rgb(29, 28, 28);
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}
.card-title1 {
  cursor: pointer;
}
.card-description {
  color: rgb(145, 141, 141);
  font-style: italic;
  padding-top: 5px;
}
.card-size {
  padding-top: 15px;
}
.product-details {
  padding: 5px 16px 8px;
  background-color: white;
  position: relative;
}
.product-details > .card-size {
  position: relative;
}
@media (max-width: 700px) {
  .card {
    width: 100vw;

    margin: 0.5rem 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .card-image > img {
  } */
  .card-image {
    width: 40vw;
    height: 100%;

    object-fit: fill;
  }
  .card > .card-image > img {
    height: 120px;
    overflow: hidden;
    object-fit: contain;
  }
  .product-details {
    width: 50vw;
    display: flex;
    padding: 0 5px 0 5px;
  }
  .card-title {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
  }
  .card-size {
    width: 30%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px;
    padding-top: 5px;
  }
  .card-rating {
    padding-top: 5px;
    float: none;
  }
}
