.card {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.973);
  text-align: left;
  position: relative;
  z-index: 12;
  margin: 0.5rem 0.3rem;
  height: 210px;
  padding: 2px 0px 4px 0px;
  border: none;
}

.card-image {
  position: relative;
  z-index: 12;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}
.card > .card-image > img {
  height: 100px;
  overflow: hidden;
  object-fit: contain;
}
.card-price {
  color: black;
  font-size: 16px;
  font-weight: bold;
  float: left;
}

.card-rating {
  padding-left: 7px;
  color: rgb(0, 110, 0);
  font-size: 14px;
  font-weight: 600;
  position: relative;
  float: right;
}

.card:hover .product-details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-title {
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  color: rgb(29, 28, 28);
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-description {
  color: rgb(145, 141, 141);
  font-style: italic;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-size {
  padding-top: 15px;
}
.product-details {
  padding: 2px 8px 6px;
  background-color: white;
  position: relative;
  transition: 0.5s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-details > .card-size {
  position: relative;
}
@media (max-width: 700px) {
  .card {
    width: 100vw;
    margin: 0.5rem 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-image {
    width: 30vw;
    border-right: lightgray;
  }
  .product-details {
    width: 70vw;
    display: flex;
  }
  .card-title {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
  }
  .card-size {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
    padding-top: 5px;
    margin-left: auto;
  }
  .card-rating {
    padding-top: 5px;
    float: none;
  }
}
